:root {
  --white-color: #fff;
  --text-color: #495057;
  --bg-sidebar-color: #f8f9fa;
  --bg-main-content-color: #fff;
  --main-color: #f14170;
  --main-color-opacity: #f1417094;
  --bg-active-color: #f1417025;
  --shadow-color: #00000026;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  line-height: 1rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: var(--main-color);
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.box-shadow {
  -webkit-box-shadow: 0 1px 10px 2px var(--shadow-color);
  -moz-box-shadow: 0 1px 10px 2px var(--shadow-color);
  box-shadow: 0 1px 10px 2px var(--shadow-color);
}

/* dropdown button options start */
#dropdown-options {
  border: none;
  background: none;
  color: var(--text-color);
  width: 2.3rem;
  height: 2.3rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

#dropdown-options::before,
#dropdown-options::after {
  display: none;
}

#dropdown-options:hover {
  background-color: var(--bg-active-color);
}

#dropdown-options:focus {
  box-shadow: none;
}

.dropdown-menu {
  padding: 0;
  background-color: var(--bg-sidebar-color);
  border: none;
  -webkit-box-shadow: 0 1px 10px 2px var(--shadow-color);
  -moz-box-shadow: 0 1px 10px 2px var(--shadow-color);
  box-shadow: 0 1px 10px 2px var(--shadow-color);
}

.options-list__item {
  display: flex;
  color: var(--text-color);
  padding: 0.45rem 1.2rem 0.45rem 0.5rem;
}

.option-list__item--icon {
  width: 2rem;
  text-align: center;
}
/* dropdown button options end */
