.app {
  display: flex;
}

/* Sidebar start */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 17.5rem;
  background-color: var(--bg-sidebar-color);
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

.sidebar__header {
  padding: 1rem;
  text-align: center;
}

.sidebar__nav {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

.sidebar__nav--header {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  color: var(--text-color);
}

.sidebar__nav--link {
  width: 100%;
  display: block;
  padding: 0.7rem 1.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.sidebar__nav--item.active {
  background-color: var(--bg-active-color);
}

.sidebar__nav--item.active .sidebar__nav--link {
  color: var(--main-color);
  font-weight: 600;
}

.sidebar__nav--link span {
  padding-left: 0.5rem;
}

.sidebar__nav--link:hover span {
  font-weight: 600;
}

.sidebar__footer {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

/* Sidebar end */

/* Right sidebar start */
.right-sidebar {
  position: fixed;
  top: 6rem;
  right: -22rem;
  bottom: 7rem;
  width: 22rem;
  background-color: var(--white-color);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  z-index: 1;
  -webkit-box-shadow: 0 1px 10px 2px var(--shadow-color);
  box-shadow: 0 1px 10px 2px var(--shadow-color);
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

.right-sidebar__header {
  border-top-left-radius: 1rem;
  padding: 1rem 1.5rem;
  background-color: var(--main-color);
  font-weight: 700;
  color: var(--white-color);
  text-transform: uppercase;
}

.right-sidebar__body {
  border-bottom-left-radius: 1rem;
  height: calc(100% - 3.25rem);
  overflow: auto;
}

.list-song__item {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.8rem 1rem;
}

.list-song__item:hover {
  background-color: var(--bg-active-color);
}

.song-inline {
  display: flex;
  align-items: center;
  max-width: 80%;
  padding-right: 0.5rem;
  cursor: pointer;
}

.song-inline__img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-size: cover;
}

.song-inline__info {
  padding-left: 1rem;
}

.song-inline__info--title {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 11rem;
}

.song-inline__info--artist {
  color: var(--text-color);
  font-size: 0.85rem;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 11rem;
}

.song-options {
  margin-left: 2.5rem;
  text-align: end;
  padding: 0 0.4rem;
  cursor: pointer;
}

/* Right sidebar end */

.content {
  margin-left: 17.5rem;
  flex-grow: 1;
  padding: 0 2rem;
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

/* Header start */

.header {
  position: relative;
}

.header__content {
  position: fixed;
  top: 0rem;
  right: 0rem;
  left: 17.5rem;
  height: 3rem;
  background-color: var(--main-color);
  color: var(--white-color);
  z-index: 1;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

.header__content--sidebar-icon {
  padding: 0.4rem;
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 0.8rem;
  margin-bottom: 0;
  display: none;
}

.sidebar-input:checked ~ .overlay {
  display: block;
}

.sidebar-input:checked ~ .sidebar {
  transform: translateX(0%);
}

.header__content--search {
  flex: 1;
  display: flex;
  height: 100%;
}

.search-icon {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--white-color);
  padding: 0.4rem;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white-color);
  flex: 1;
}

.search-input::placeholder {
  color: var(--white-color);
}

.avatar {
  border-radius: 0.325rem;
  overflow: hidden;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.auth-link {
  color: var(--white-color);
  display: block;
  padding: 0.4rem 1rem;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 0;
}

.auth-link:hover {
  font-weight: 700;
  color: var(--white-color);
}

.header__banner {
  background-image: url("../images/banner/home-banner.jpeg");
  background-size: cover;
  background-position: center center;
  height: 20rem;
  margin: 0 -2rem;
  position: relative;
  z-index: 0;
}

.header__banner:before,
.header__banner:after {
  content: "";
  display: block;
}

.header__banner:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.header__banner:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 10rem;
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    var(--white-color) 78%,
    var(--white-color) 100%
  );
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    var(--white-color) 78%,
    var(--white-color) 100%
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--white-color) 78%,
    var(--white-color) 100%
  );
}

/* Header end */

/* Audio player start */

.player {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  left: 18.5rem;
  height: 5rem;
  background-color: var(--bg-sidebar-color);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 1px 10px 2px var(--shadow-color);
  -moz-box-shadow: 0 1px 10px 2px var(--shadow-color);
  box-shadow: 0 1px 10px 2px var(--shadow-color);
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

.player__song {
  display: flex;
  align-items: center;
}

.player__song--img {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  margin: 0 0.5rem 0 0.8rem;
  background-size: cover;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  animation-play-state: paused;
}

.player__song--img.spin {
  animation-play-state: running;
}

.player-song-title {
  color: var(--text-color);
  font-size: 0.85rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 13rem;
}

.player-song-artist {
  color: var(--text-color);
  font-size: 0.75rem;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 13rem;
}

.player__controls {
  width: 25rem;
  min-width: 15rem;
  margin: 0 0.5rem;
}

.control-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.4rem 0 0.2rem;
}

.control__btn,
.option__btn {
  color: var(--text-color);
  width: 2.3rem;
  height: 2.3rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.control__btn:hover,
.option__btn:hover {
  background-color: var(--bg-active-color);
}

.control__btn.active {
  color: var(--main-color);
}

.btn-toggle-play {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  cursor: pointer;
}

.btn-toggle-play:hover {
  color: var(--main-color);
  background-color: var(--bg-active-color);
}

.progress-wrapper {
  display: flex;
  align-items: center;
}

.progress {
  flex: 1;
  margin: 0.1rem 0.2rem 0;
  height: 0.35rem;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
  color: var(--main-color);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.progress-time {
  font-size: 0.9rem;
  color: var(--text-color);
  opacity: 0.8;
}

.player__options {
  display: flex;
}

.option__btn {
  margin-right: 1rem;
}

.option__btn:last-child {
  margin-right: 2rem;
}

.list-songs-input:checked ~ .right-sidebar {
  right: 0;
}

/* Audio player end */

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1023px) {
  .translate-on-md {
    transform: translateX(-100%);
  }
  .content {
    margin-left: 0;
  }
  .header__content {
    left: 0;
  }
  .player {
    left: 1rem;
  }
  .header__content--sidebar-icon {
    display: block;
  }
}
