<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div><i class="fas fa-table mr-1"></i>Khu vực</div>
    <div>
      <a
        class="btn btn-primary"
        href="#"
        data-toggle="modal"
        data-target="#create"
        data-backdrop="static"
        data-keyboard="false"
        ><i class="fas fa-plus mr-1"></i>Thêm</a
      >
      <!-- Modal -->
      <div
        class="modal fade"
        id="create"
        tabindex="-1"
        role="dialog"
        aria-labelledby="createTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Thêm khu vực</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="" method="POST" id="areaForm">
                <div class="form-group">
                  <label for="name" class="form-label">Khu vực</label>
                  <input
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Nhập tên khu vực"
                    class="form-control"
                  />
                  <span class="form-message"></span>
                </div>
                <div class="form-group">
                  <label for="email" class="form-label">Email</label>
                  <input
                    id="email"
                    name="email"
                    type="text"
                    placeholder="VD: email@domain.com"
                    class="form-control"
                  />
                  <span class="form-message"></span>
                </div>
                <div class="modal-footer mt-4">
                  <button type="button" class="btn btn-primary">
                    Lưu
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Khu vực</th>
            <th>Thể loại</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <% areas.forEach(area => { %>
          <tr>
            <td><%= area.name %></td>
            <td>
              <%= area.category.map(category => category.name).join(", ") %>
            </td>
            <td class="d-flex justify-content-around">
              <a href="#"><ins>Sửa</ins></a>
              <a href="#"><ins>Xóa</ins></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
