<nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
  <a
    class="navbar-brand d-flex justify-content-center align-items-center"
    href="/admin"
    ><img class="w-50 h-50" src="/images/logos/logo.svg" alt="Logo"
  /></a>
  <button
    class="btn btn-link btn-sm order-1 order-lg-0"
    id="sidebarToggle"
    href="#!"
  >
    <i class="fas fa-bars"></i>
  </button>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto mr-0">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle border rounded shadow-sm"
        id="userDropdown"
        href="#!"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        ><i class="fas fa-user fa-fw"></i>
        <span class="ml-2 mr-2"> <%= currentUser.username %></span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="userDropdown"
      >
        <a class="dropdown-item" href="/admin/logout">Logout</a>
      </div>
    </li>
  </ul>
</nav>
