<div id="layoutSidenav_nav">
  <nav class="sb-sidenav sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Điều khiển</div>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Trang chủ
        </a>
        <div class="sb-sidenav-menu-heading">Dữ liệu</div>
        <a class="nav-link" href="/admin/user">
          <div class="sb-nav-link-icon">
            <i class="fas fa-users"></i>
          </div>
          Người dùng
        </a>
        <a class="nav-link" href="/admin/category">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Thể loại
        </a>
        <a class="nav-link" href="/admin/area">
          <div class="sb-nav-link-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          Khu vực
        </a>
        <a class="nav-link" href="/admin/song">
          <div class="sb-nav-link-icon">
            <i class="fas fa-music"></i>
          </div>
          Bài hát
        </a>
        <a class="nav-link" href="/admin/playlist">
          <div class="sb-nav-link-icon">
            <i class="fas fa-list-ul"></i>
          </div>
          Playlist
        </a>
      </div>
      <a class="nav-link" href="/admin/artist">
        <div class="sb-nav-link-icon">
          <i class="fas fa-microphone-alt"></i>
        </div>
        Nghệ sĩ
      </a>
    </div>
  </nav>
</div>
