:root {
  --white-color: #fff;
  --text-color: #495057;
  --border-color: #b3b3b3;
  --bg-sidebar-color: #f8f9fa;
  --main-color: #f14170;
  --main-color-opacity: #f1417094;
  --bg-active-color: #f1417025;
  --bg-input-color: #f77296;
  --shadow-color: #00000026;
  --overlay-color: #0000004d;
  --error-color: #f33a58;
  --btn-color: #1dbfaf;
  --btn-hover-color: #1ac7b6;
  --item-header-color: #f0f0f0;
  --li-hover-color: #e9ecef;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  line-height: 1rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
  color: var(--text-color);
}

th,
td,
h3,
h5,
h6 {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: var(--main-color);
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

label {
  margin-bottom: 0;
}

.spacer {
  height: 2px;
  background-color: var(--white-color);
}

.section {
  margin-bottom: 4rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-color);
  display: none;
  z-index: 1003;
}

.blank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: var(--bg-sidebar-color);
  color: var(--main-color);
}

.blank__icon {
  font-size: 3.5rem;
  margin-bottom: 1.8rem;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.box-shadow {
  -webkit-box-shadow: 0 1px 10px 2px var(--shadow-color);
  -moz-box-shadow: 0 1px 10px 2px var(--shadow-color);
  box-shadow: 0 1px 10px 2px var(--shadow-color);
}

.img-detail {
  width: 320px;
  border-radius: 1.5rem;
}

.img-artist-detail {
  width: 320px;
  border-radius: 50%;
}

.detail-btn {
  width: 8rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

/* dropdown button options start */
#dropdown-options {
  border: none;
  background: none;
  color: var(--text-color);
  width: 2.3rem;
  height: 2.3rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

#dropdown-options::before,
#dropdown-options::after,
#detail-dropdown-options::before,
#detail-dropdown-options::after {
  display: none;
}

#dropdown-options:hover {
  background-color: var(--bg-active-color);
}

#dropdown-options:focus,
#detail-dropdown-options:focus {
  box-shadow: none;
}

#detail-dropdown-options {
  border: none;
  width: 8rem;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.dropdown-menu {
  z-index: 1005;
  padding: 0;
  background-color: var(--bg-sidebar-color);
  border: none;
  -webkit-box-shadow: 0 1px 10px 2px var(--shadow-color);
  -moz-box-shadow: 0 1px 10px 2px var(--shadow-color);
  box-shadow: 0 1px 10px 2px var(--shadow-color);
}

.options-list__item {
  display: flex;
  color: var(--text-color);
  padding: 0.45rem 1.2rem 0.45rem 0.5rem;
}

.options-list__item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}

.option-list__item--icon {
  width: 2rem;
  text-align: center;
}

.option-list__item--icon.active {
  color: var(--main-color);
}
/* dropdown button options end */

/* page-link bootstrap start */
.page-link {
  color: var(--text-color);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
}

.page-link:hover {
  color: var(--main-color);
  background: none;
  border-color: var(--border-color);
}

.page-item.active .page-link {
  z-index: 3;
  color: var(--main-color);
  background: none;
  border-color: var(--border-color);
  border-bottom: 2px solid var(--main-color);
}

.page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.page-item:first-child.disabled .page-link {
  border-left: 1px solid #e9ebee;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.page-item:last-child.disabled .page-link {
  border-right: 1px solid #e9ebee;
}
/* page-link bootstrap end */

/* Toast start */
#my-toast {
  position: fixed;
  top: 58px;
  right: 0;
  margin-left: -140px;
  z-index: 5000;
}

.my-toast {
  display: flex;
  align-items: center;
  background-color: var(--bg-sidebar-color);
  border-radius: 2px;
  padding: 10px 16px;
  min-width: 400px;
  max-width: 450px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 10px 2px var(--shadow-color);
  -moz-box-shadow: 0 1px 10px 2px var(--shadow-color);
  box-shadow: 0 1px 10px 2px var(--shadow-color);
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

@-ms-keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-ms-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.my-toast + .my-toast {
  margin-top: 10px;
}

.toast__content {
  flex-grow: 1;
}

.toast__title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}

.toast__msg {
  font-size: 14px;
  color: var(--text-color);
}

.toast__close {
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
}

/* Toast end */
